body,html{
    scroll-behavior: smooth;
}

.homeland img{
    width: 100%;
    height: 100%;
    margin-bottom: 1%;

}

.homemid {
    color: #000000;
    padding-top:5%;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.homemid h1{
   margin-left: 15%;
}

.homemid ul {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.homemid ul li{
    padding: 5% 0% 0% 13.5%;
    list-style: none;
}

.homemid ul li img{
    padding: 0% 0% 0% 35%;
}

.home-about {
    background-color:#f7f7f7 ;
}

.productmid {
    margin-left: 15%;
    padding-top:5%;
}

/* cards */


  
  .foodcard-container{
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: column;
      grid-template-columns: 1fr;
      margin-top: 1rem; 
      margin-bottom: 1rem;
      padding: 5% 0% 0% 0%;
    }
    
   
    .Foodcard{   
     
      background-color: #fff;
      opacity: 90%;
      margin-left: 1rem;
      width: 250px;
      height: 300px;
      box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
      z-index: 1;
      border-radius: 3%;
      
    }
   
    
    .Foodcard-body {
      display: inline-block;
    }
    

    
    .card-amount {
      font-family: "Cormorant Garamond", serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 60px;
      margin-bottom: 0%;
      margin-top: 0%;
      margin-left: 0.5rem;
      text-transform: capitalize;
    }
    
    .card-itemname{
      margin-left: 0.5rem;
    }

    .blogs{
        background-color:#f7f7f7;
        padding-top:5%;
    }

    .blogs h1{ 
        margin-left:15%;
    }
    
    .place{
        padding-top:5%;
    }

    .place h1{
        margin-left:15%;
    }

    .footer{
        background-color:#464040;
        height: 50vh;
       
    }

    .footer h1{
        margin-left: 39.5%;
        font-size: 50px;
        font-style: italic;
        padding-top: 5%;
        color: #ffffff;
        padding-bottom: 0%;
        margin-bottom: 0%;

    }

    .footer p{
        margin-left:35%;
    }